* {
    margin: 0;
    padding: 0;
    
}

h1 {
    background-color: #081b31;
    color: white;
    font-size: 3rem;
    line-height: 5rem;
    text-align: center;
    height: 5rem;
}

.choices {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 3rem;
    cursor: pointer;
}

.choice:hover {
    opacity: 0.5;
    border-radius: 50%;
    transition: all ease-in 0.4s;
}
.choice {
    object-fit: cover;
}

.score {
    display: flex;
    justify-content: center;
    color: rgb(10, 0, 0);
    font-size: 3rem;
    gap: 7rem;
    margin-bottom: 5rem;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 4rem;
    display: inline;
   
    padding: 1rem;
    border-radius: 1rem;
    padding: 15px 10px;
    display: flex;
    justify-content: center;
  }